[submodule "external/jssy"]
	path = external/jssy
	url = git@github.com:palmerc/jssy.git
[submodule "external/libressl"]
	path = external/libressl
	url = git@github.com:palmerc/libressl.git
[submodule "external/libfragmentzip"]
	path = external/libfragmentzip
	url = git@github.com:palmerc/libfragmentzip.git
[submodule "external/libirecovery"]
	path = external/libirecovery
	url = git@github.com:palmerc/libirecovery.git
